@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins:wght@500&family=Roboto:wght@100;300&display=swap");
/* common styles */
body {
  font-family: "Poppins", sans-serif;
  background: #f3f1ff;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 7px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 30px;
}
.top-player-section {
  margin-bottom: 30px;
}
/* top player start */

.top-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 29px;
}
.section-title {
  font-size: 24px;
  color: #562eff;
  margin-top: 3px;
}
.player {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.players-name {
  margin-left: 16px;
  font-size: 18px;
}
/* top blog starts */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  text-decoration: none;
  font-size: 16px;
  color: #562eff;
}
/* latest course start  */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.course-banner img {
  width: 224px;
  height: 104px;
}
.course-title {
  width: 80%;
}
.course-author {
  color: #ed6b4f;
}
.course-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.course-info .star {
  margin-right: 10px;
}
.course-info p {
  color: #868181;
  margin-right: 18px;
}
.course-duration {
  color: #ff4a60;
  padding: 3px 5px;
  background-color: #ffe4e8;
  border-radius: 15px;
}
.fa-star {
  font-size: 12px;
}
.fa-star.fill {
  color: #ec950a;
}
.fa-star.empty {
  color: #b6adad;
}

/* media quarry */

@media screen and (max-width: 687px) {
  .container {
    margin: 10px auto;
    width: 100%;
  }
  .top-players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog {
    flex-direction: column;
  }
}
/* tablet devices */

@media screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    margin: 0 auto;
    width: 100%;
  }

  .top-players,
  .blogs,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog {
    flex-direction: column;
  }
}
